<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.14/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="navbar bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <div tabindex="0" role="button" class="btn btn-ghost btn-circle">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h7"
              />
            </svg>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li><a>Homepage</a></li>
            <li><a>Portfolio</a></li>
            <li><a>About</a></li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <a class="btn btn-ghost text-2xl">SPLITHOOK</a>
      </div>
      <div class="navbar-end">
        <div class="dropdown dropdown-end">
          <div
            tabindex="0"
            role="button"
            class="btn btn-ghost btn-circle avatar"
          >
            <div class="w-10 rounded-full">
              <img
                alt="Tailwind CSS Navbar component"
                src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.webp"
              />
            </div>
          </div>
          <ul
            tabindex="0"
            class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow"
          >
            <li>
              <a class="justify-between">
                Profile
                <span class="badge">New</span>
              </a>
            </li>
            <li><a>Settings</a></li>
            <li><button onclick="localStorage.clear();window.location.reload();" >Logout</button></li>

          </ul>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-center">
      <div class="size-60">
        <h1 class="text-center">Login</h1>
        <form id="loginForm" class="space-y-4" onsubmit="handleSubmit(event)">
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z"
              />
            </svg>
            <input
              type="text"
              id="username"
              class="grow"
              placeholder="Username"
              required
            />
          </label>
          <label class="input input-bordered flex items-center gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 16 16"
              fill="currentColor"
              class="h-4 w-4 opacity-70"
            >
              <path
                fill-rule="evenodd"
                d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1 .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
                clip-rule="evenodd"
              />
            </svg>
            <input
              type="password"
              id="password"
              class="grow"
              placeholder="Password"
              required
            />
          </label>
          <div class="flex justify-end">
            <button type="submit" class="btn btn-primary text-right">
              Submit
            </button>
          </div>
        </form>

        <script>
          //for auth
          document.addEventListener("DOMContentLoaded", async () => {
            if (
              localStorage.getItem("username") &&
              localStorage.getItem("type")
            ) {
              if (localStorage.getItem("type") === "adminuser" && localStorage.getItem("type") === "admin") {
                window.location.href = "/admin/settings";
              } else if (localStorage.getItem("type") === "customer") {
                const username = localStorage.getItem("username");
                const res = await fetch(
                  "http://localhost:5000/customer/status/" + username
                );

                // Assuming you want to log the result in the console
                const data = await res.json();
                if(data['status'] == true){
                    window.location.href = "/customer/stocks";
                } else{
                    window.location.href = "/register";
                }
              }
            }
          });

          // for form submit event
          async function handleSubmit(event) {
            event.preventDefault();

            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;

            try {
              const response = await fetch("http://localhost:5000/verify", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({ username, password }),
              });

              const result = await response.json();

              if (result.status === "success") {
                localStorage.setItem("username", username);
                if (username == "adminuser")
                  localStorage.setItem("type", "admin");
                else if (username != "adminuser")
                  localStorage.setItem("type", "customer");
                window.location.href = result.redirect_url;
              } else {
                alert("Login failed. Please check your credentials.");
              }
            } catch (error) {
              console.error("Error:", error);
              alert("An error occurred. Please try again.");
            }
          }
        </script>
      </div>
    </div>

    <script src="https://cdn.tailwindcss.com"></script>
  </body>
</html>
